.buttons{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    width: 30px;
    border: 1;
    margin: 15px 15px;
    cursor: pointer;
}
.div-linkbuttons{
    text-align: center;
    height: 80px;
}
.div-buttons{
    text-align: center;
    height: 150px;
    z-index:1;
}
@media (max-width:1000px){
    .div-buttons{
        height: 70px;
    }
}
@media (max-width:1300px){
    .div-linkbuttons{
        height: 160px;
    }
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #233651; /* Match your navbar */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease;
  }
  
  /* Show on scroll (mobile only) */
  @media (max-width: 768px) {
    #backToTop.show {
      display: block;
    }
  }
  
