.hku-logo-education{
    height: 100px;
    margin: 0px 20px 0px 0px;
    object-fit: contain;
}
.rhul-logo-education{
    width: 150px;
    margin: 0px 20px 0px 0px;
    object-fit: contain;
}
@media(max-width:750px){
    .hku-logo-education{
        height: 100px;
        margin: 0px 20px 0px 0px;
        object-fit: contain;
    }
    .rhul-logo-education{
        width: 100px;
        margin: 0px 20px 0px 0px;
        object-fit: contain;
    }
}
.div-education{
}
.div-education-title{
    display: flex;
    text-align: center;
    width: 100%;
}
.div-education-content {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
.education-grid {
    display: grid;
    grid-template-columns: 40% 10% 1fr;
    gap: 10px; /* Optional: Adds spacing between grid cells */
    width: 100%;
  }
@media (min-width: 768px) {
    .education-grid {
      display: grid;
      grid-template-columns: 20% 10% auto; /* use 'auto' instead of 1fr for the rightmost */
      gap: 10px;
      width: max-content;   /* shrink grid to content width */
      margin: 0 auto;       /* center the grid horizontally */
    }
  }
.div-education-content-line-left{
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-education-content-line-right{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    line-height: 1.5;
    color: white;
    font-family:'opensans-regular', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    flex-direction: column;
}
