.hku-logo{
    width: 100px;
    margin: 0px 20px 0px 0px;
    object-fit: contain;
}
.rhul-logo{
    width: 150px;
    margin: 0px 20px 0px 0px;
    object-fit: contain;
}
.AOGS-logo{
    width: 150px;
    margin: 0px 20px 0px 0px;
    object-fit: contain;
    background-color: white;
}
.TGS-logo{
    width: 150px;
    margin: 0px 20px 0px 0px;
    object-fit: contain;
}
.AGU-logo{
    width: 150px;
    margin: 0px 20px 0px 0px;
    object-fit: contain;
    background-color: white;
}
.div-education{
}
.div-education-title{
    display: flex;
    text-align: center;
    width: 100%;
}
.div-education-content{
}
.div-education-content-line-left{
    display: flex;
    text-align:right;
    align-items: center;
    justify-content: right;
    height: 150px
}
.div-education-content-line-right{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    line-height: 1.5;
    color: white;
    font-family:'opensans-regular', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    height: 150px
}