.headshot{
    width: 350px;
    /*height: 300px;
    border: 2px;
    border-style: solid;
    object-fit: contain;
    display: block;*/
}
@media (max-width:1000px){
    .headshot{
        width: 240px;
    }
}
