.headingone {
    color: white;
    font-family:'opensans-regular', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    width: 100%;
    margin: 5px 0px 0px 0px;
}
.headingtwo {
    color: white;
    font-family:'opensans-regular', sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: lighter;
    width: 100%;
    margin: 50px 20px 0px 20px;
}
.headingthree {
    color: white;
    font-family:'opensans-regular', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    width: 100%;
    margin: 0px 0px 0px 0px;
    line-height: 1.25;
    vertical-align: middle;
}
.headingfour {
    color: white;
    font-family:'opensans-regular', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight:normal;
    width: 100%;
    margin: 0px 0px 0px 0px;
    line-height: 30px;
}
.headingfive {
    color: white;
    font-family:'opensans-regular', sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight:normal;
    width: 100%;
    margin: 0px 0px 0px 0px;
    line-height: 30px;;
}
p {
    vertical-align: middle;
    color: white;
    font-family:'opensans-regular', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
    padding-left: 32px; padding-right: 32px; padding-top: 15px; padding-bottom: 15px;/*padding: 15px 32px;*/
    border-width: 1px;
    line-height: 30px;
}
a {
    vertical-align: middle;
    color: white;
    font-family:'opensans-regular', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
    padding-left: 32px; padding-right: 32px; padding-top: 15px; padding-bottom: 15px;/*padding: 15px 32px;*/
    border-width: 1px;
    line-height: 30px;
}
li {
    vertical-align: middle;
    color: white;
    font-family:'opensans-regular', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .section.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #scroll-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white; /* Change to your accent color */
    z-index: 9999;
    transition: width 0.2s ease-out;
  }
  
